<p id="notice"><%= notice %></p>

<h1>Listing Rumahs</h1>

<table>
  <thead>
    <tr>
      <th>Nombor</th>
      <th>Sah</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rumahs.each do |rumah| %>
      <tr>
        <td><%= rumah.nombor %></td>
        <td><%= rumah.sah %></td>
        <td><%= link_to 'Show', rumah %></td>
        <td><%= link_to 'Edit', edit_rumah_path(rumah) %></td>
        <td><%= link_to 'Destroy', rumah, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rumah', new_rumah_path %>
