<p id="notice"><%= notice %></p>

<h1>Listing Tetaman</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tetaman.each do |taman| %>
      <tr>
        <td><%= taman.nama %></td>
        <td><%= taman.nota %></td>
        <td><%= link_to 'Show', taman %></td>
        <td><%= link_to 'Edit', edit_taman_path(taman) %></td>
        <td><%= link_to 'Destroy', taman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taman', new_taman_path %>
