<%= form_for(@rumah) do |f| %>
<% if @rumah.errors.any? %>
<section id="main" class="wrapper">

  <div id="error_explanation">
    <h2><%= pluralize(@rumah.errors.count, "error") %> prohibited this rumah from being saved:</h2>

    <ul>
      <% @rumah.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :nombor %><br>
    <%= f.text_field :nombor %>
  </div>
  <div class="field">
    <%= f.label :sah %><br>
    <%= f.check_box :sah, :style => "opacity: 1; width: 20px; height: 20px;" %>
  </div>
  <div class="field">
    <%= f.label :nama %><br>
    <%= f.text_field :nama %>
  </div>
  <div class="field">
    <%= f.label :telefon %><br>
    <%= f.text_field :telefon %>
  </div>
  <div class="field">
    <%= f.label :nota %><br>
    <%= f.text_field :nota %>
  </div>
  <div class="field">
    <%= f.label :taman %><br>
    <% @tetaman = Taman.all %>
    <%= f.collection_select :taman_id, @tetaman, :id, :nama, prompt:"Pilih taman" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

</section>
<% end %>
